# Maintain exact dependencies of the base image.
-r /opt/base-requirements.txt

# PostgreSQL adapter
psycopg2

# Flask ORM layer
flask-sqlalchemy
flask-migrate

# DB management tools
flask-admin
flask-basicauth
